<div class="row">
  <div class="col-8 mx-auto my-5">
    <div class="card" style="width: 25rem;">
      <img
        src="https://images.unsplash.com/photo-1488272690691-2636704d6000?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80"
        class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">URL Shrinker</h5>
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
          <label for="fullUrl" class="sr-only">Url</label>
          <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
          <button class="btn btn-outline-success" type="submit">Shrink</button>
        </form>
      </div>
    </div>
  </div>
</div>